#product-card-container {
  padding: 18px 18px 0 18px;
  margin-top:20px;

  #product-card {
    background-color: #fff;
    border-radius: 1rem;
    padding: 0 12px 0 12px;
    margin-bottom:20px;

    .discount-product {
      display: flex;
      position: absolute;
      margin: 13px 0 0 0;
      vertical-align: top;
      color: #fff;
      border-radius: 20px;
      background-color: red;
      justify-content: center;
      align-items: center;
    }

    .product-photo {
      align-content: center;
      width: 100%;
      margin-top:10px;
      height: 80%;
    }

    .product-name {
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      font-weight: 300;
      padding: 0 0 0.3rem 0.8rem;
      margin: 0;

      .ingridients {
        margin: 5px 0 5px 0;
        display: block;
      }
    }

    .product-card-info {
      display: flex;
      width: 60%;
      justify-content: space-between;
      align-items: center;
      margin: 0.3rem 0 0 0.8rem;
      padding: 0 0 0.3rem 0;

      span {
        margin: 0;
        min-width: 18%
      }

      #product-price {
      }

      .product-price-without-discount {
        color: rgba(0, 0, 0, 0.5);
        text-decoration: line-through;
      }

      .product-price-with-discount {
        color: rgba(255, 50, 50, 1);
      }

      .product-weight-or-amount {
        font-size: 0.6rem;
      }
    }
  }
}

@media(max-width:500px) {
  #product-card-container {

    #product-card {
      border-radius: 1rem;

      .discount-product {
        font-size: 1rem;
        height: 2rem;
        width: 2rem;
      }

      .product-photo {
        border-radius:2.2rem;
      }

      .product-name {
        font-size: 1rem;

        .ingridients {
          font-size: 0.7rem;
        }
      }

      .product-card-info {
        span {
          margin: 0;
          min-width: 18%
        }

        #product-price {
        }

        .product-price-without-discount {
          font-size: 0.8rem;
        }

        .product-price-with-discount {
          font-size: 1rem;
        }

        .product-weight-or-amount {
          margin: 0.15rem 0 0 0;
          font-size: 0.6rem;
        }
      }
    }
  }
}


@media(min-width:501px) {
  #product-card-container {

    #product-card {
      border-radius:2.2rem;

      .discount-product {
        font-size: 1.8rem;
        height: 3rem;
        width: 3rem;
        border-radius: 2rem;

      }

      .product-photo {
        border-radius:2.2rem;
      }

      .product-name {
        font-size: 2rem;

        .ingridients {
          margin: 5px 0 5px 0;
          display: block;
          font-size: 1.3rem;
        }
      }

      .product-card-info {
        #product-price {
        }

        .product-price-without-discount {
          font-size: 1.2rem;
        }

        .product-price-with-discount {
          font-size: 1.5rem;
        }

        .product-weight-or-amount {
          margin: 0.15rem 0 0 0;
          font-size: 0.9rem;
        }
      }
    }
  }
}